:root {
  --table-row-border:               1px solid #e6e6e6;
  --table-row-background:           white;
  --table-row-background-hover:     #b3ecff;
  --table-header-background:        #ebebeb;
  --table-header-link:              #3e3e3e;
}

.table {
  border-collapse: collapse;
  overflow: hidden;
  text-align: left;

  thead {
    background-color: var(--table-header-background);
    color: var(--table-header-link);
    font-weight: bold;

    tr {
      th {
        padding: 15px;
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr {
      background-color: var(--table-row-background);
      border-bottom: var(--table-row-border);

      td {
        padding: 15px;
      }

      &:hover {
        background-color: var(--table-row-background-hover);
      }
    }
  }
}
