<%= yield :action_bar %>
<div class="content">
  <%= render BeyondEssence::BreadcrumbComponent.new(style: 'margin-bottom: 30px;') %>
  <%= render BeyondEssence::TitleComponent.new(text: yield(:title), style: 'margin-bottom: 30px;') %>
  <main>
    <%= yield %>
  </main>
</div>
