body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: var(--workspace-text);
  line-height: 1.5;
}

html,
body {
  background-color: var(--workspace-background);
  padding: 0;
  margin: 0;
}

body * {
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-size: inherit;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}
