.button-group {
  display: flex;

  & > .button {
    border-radius: 0;

    &:not(:first-child) {
      border-left: 0;
    }

    &:first-child {
      border-top-left-radius: var(--button-borderRadius);
      border-bottom-left-radius: var(--button-borderRadius);
    }

    &:last-child {
      border-top-right-radius: var(--button-borderRadius);
      border-bottom-right-radius: var(--button-borderRadius);
    }
  }
}
