.empty-state {
  align-items: center;
  display: flex;
  justify-content: center;
}

.empty-state-image {
  flex-shrink: 0;
  margin: 0 60px 0 0;
  max-width: 200px;

  .bubbles {
    fill: var(--emptyState-bubbles);
  }

  .outline {
    fill: var(--emptyState-outline);
  }

  .surface {
    fill: var(--emptyState-surface);
  }
}

.empty-state-text {
  display: grid;
  gap: 20px;
}

.empty-state-headline {
  color: var(--emptyState-headline);
  font-size: 300%;
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 0;
}

.empty-state-body {
  color: var(--emptyState-help-text);
  font-size: 125%;
  margin: 0;
}
