:root {
  --formGroup-label:                   gray;
  --formGroup-validation-error:        #da3c3c;
  --formGroup-validation-text:         white;
  --formGroup-validation-borderRadius: 3px;

  --inputField-borderRadius:        3px;
  --inputField-border:              #d2d2d2;
  --inputField-border-focus:        orange;
  --inputField-text:                #3e3e3e;
  --inputField-background:          white;
  --inputField-background-focus:    white;
  --inputField-background-disabled: #f5f5f5;
  --inputField-text-disabled:       #9a9a9a;
  --inputField-placeholder-text:    #a4a4a4;
  --inputField-hint-text:           gray;

  --smartInputField-suggestion-active:  #b3ecff;
  --smartInputField-value-background:   #d9d9d9;
  --smartInputField-value-text:         #666666;
  --smartInputField-value-icon:         currentColor;
  --smartInputField-value-icon-hover:   #4d4d4d;
  --smartInputField-value-borderRadius: 3px;

  --check-color:         #97c344;
  --uncheck-color:       #b3b3b3;
  --check-disabled-text: #c5c5c5;
  --check-disabled-icon: #d9d9d9;

  --flipSwitch-unchecked-background: #b3b3b3;
  --flipSwitch-checked-background:   #97c344;
  --flipSwitch-border:               #c0c0c0;
  --flipSwitch-label:                gray;
  --flipSwitch-text:                 silver;
}

@import 'control';
@import 'error';
@import 'fieldset';
@import 'group';
@import 'hint';
@import 'label';
@import 'wrapper';
