.margin-top {
  margin-top: 30px !important;
}

.margin-bottom {
  margin-bottom: 30px !important;
}

.margin-left {
  margin-left: 30px !important;
}

.margin-right {
  margin-right: 30px !important;
}
