<div class="step-list-item">
  <div>
    <div class="step-list-bubble"></div>
  </div>
  <div>
    <strong class="step-list-headline"><%= headline %></strong>
    <p class="step-list-description"><%= description %></p>
  </div>
</div>
