<div <%= tag.attributes **html_options %>>
  <% if title? %>
    <h4 class="step-list-title"><%= title %></h4>
  <% end %>
  <div class="step-list-items">
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </div>
</div>
