.paragraph {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  p,
  ul,
  ol {
    margin: 15px 0;
  }

  a {
    align-items: center;
    color: var(--primaryLink-color);
    display: inline-flex;
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
      color: var(--primaryLink-hover-color);
    }

    svg {
      fill: currentColor;
      flex-shrink: 0;
      height: 0.8em;
      margin-left: 0.35em;
      margin-right: 0;
      width: 0.8em;
    }
  }

  b,
  strong {
    font-weight: bold;
  }

  i,
  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }
}
