.tooltip {
  display: flex;
}

.tooltip-arrow {
  background: var(--tooltip-background);
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: -1;
}

.tooltip-bubble {
  background-color: var(--tooltip-background);
  border-radius: var(--tooltip-borderRadius);
  box-shadow: var(--tooltip-boxShadow);
  color: var(--tooltip-text);
  cursor: default;
  display: none;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  max-width: 350px;
  padding: 1em;
  position: absolute;
  transition: opacity cubic-bezier(0, 0, 0.57, 0.74) 0.2s, 0.2s visibility;
  z-index: 1;

  &:before {
    content: '';
    display: block;
    height: 14px;
    left: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
  }

  &:hover {
    display: block;
  }
}

.tooltip-icon {
  fill: var(--tooltip-icon);
  height: 14px;
  width: 14px;

  &:hover {
    ~.tooltip-bubble {
      display: block;
    }
  }
}
