:root {
  --spinner-border:              #c0c0c0;
  --spinner-border-highlighting: #676767;
}

$spinner-size: 40px;

.spinner {
  height: $spinner-size;
  position: relative;
  width: $spinner-size;

  &::after {
    animation: spin 1.5s infinite linear;
    border: solid 4px var(--spinner-border);
    border-bottom-color: var(--spinner-border-highlighting);
    border-radius: 50%;
    content: '';
    height: $spinner-size;
    position: absolute;
    transform-origin: center;
    width: $spinner-size;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
