.spinner {
  height: 40px;
  position: relative;
  width: 40px;

  &::after {
    animation: spin 1.5s infinite linear;
    border: solid 4px var(--spinner-border);
    border-bottom-color: var(--spinner-border-highlighting);
    border-radius: 50%;
    content: '';
    height: 40px;
    position: absolute;
    transform-origin: center;
    width: 40px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
