<div class="flash-container" id="flash_container">
  <% helpers.flash.each do |variant, message| %>
    <%= render Essence::FlashComponent.new(variant:) do %>
      <%= message %>
    <% end %>
  <% end %>
</div>
