:root {
  --notification-background:   white;
  --notification-text:         gray;
  --notification-borderRadius: 4px;
  --notification-success:      #97c344;
  --notification-info:         #999999;
  --notification-warning:      #f3b547;
  --notification-danger:       #da3c3c;
}

.notification {
  background-color: var(--notification-background);
  border-radius: var(--notification-borderRadius);
  display: flex;

  &-body {
    color: var(--notification-text);
    padding: 8px 14px;
  }

  &-danger {
    border: 1px solid var(--notification-danger);

    .notification-indicator {
      background-color: var(--notification-danger);
    }
  }

  &-icon {
    display: block;
    fill: var(--notification-background);
    height: 18px;
    width: 18px;
  }

  &-indicator {
    padding: 10px 8px;
  }

  &-info {
    border: 1px solid var(--notification-info);

    .notification-indicator {
      background-color: var(--notification-info);
    }
  }

  &-success {
    border: 1px solid var(--notification-success);

    .notification-indicator {
      background-color: var(--notification-success);
    }
  }

  &-warning {
    border: 1px solid var(--notification-warning);

    .notification-indicator {
      background-color: var(--notification-warning);
    }
  }
}
