body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4b4b4b;
}

html,
body {
  background-color: #e0e0e0;
  padding: 0;
  margin: 0;
}

body * {
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-size: inherit;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}
