.form-control {
  &.country,
  &.numeric,
  &.password,
  &.select,
  &.string {
    background-color: var(--inputField-background);
    border: 1px solid var(--inputField-border);
    color: var(--inputField-text);
    display: block;
    font-size: 14px;
    outline: none;
    padding: 6px 8px;
    transition: border-color 0.125s ease-in, box-shadow 0.125s ease-in;
    width: 100%;

    &::placeholder {
      color: var(--inputField-placeholder-text);
    }

    &:focus {
      border-color: var(--inputField-border-focus);
    }

    &:disabled {
      background-color: var(--inputField-background-disabled);
      color: var(--inputField-text-disabled);
    }

    &.invalid {
      box-shadow: inset 2px 0 0 0 var(--formGroup-validation-error);
    }
  }

  &.numeric,
  &.password,
  &.string {
    &:read-only {
      background-color: var(--inputField-background-disabled);
      color: var(--inputField-text-disabled);
      border-color: var(--inputField-border);
    }
  }

  &.select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg data-token-category=%27icons%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27%237a764c%27%3E %3Cpath d=%27M24,7L12,19L0,7H24z%27/%3E %3C/svg%3E');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px auto;
    padding-right: 30px;

    &[readonly] {
      background-image: none;
      padding: 6px 8px;
      pointer-events: none;
    }
  }

  &.boolean,
  &.check_boxes {
    appearance: none;
    border: 2px solid var(--uncheck-color);
    border-radius: 0;
    cursor: pointer;
    flex-shrink: 0;
    height: 16px;
    margin: 0;
    width: 16px;

    &:checked {
      background-color: var(--check-color);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpolygon fill='%23ffffff' points='9.6,18.4 3.8,12.8 5.8,10.7 9.5,14.3 18,5.6 20.1,7.7'/%3E%3C/svg%3E%0A");
      background-size: contain;
      border: none;
    }

    ~ .form-label {
      cursor: pointer;
    }

    &:disabled {
      border-color: var(--check-disabled-icon);

      &:checked {
        background-color: var(--check-disabled-text);
      }

      ~ .form-label {
        color: var(--check-disabled-text);
      }
    }
  }

  &.toggle {
    border: 1px solid var(--flipSwitch-border);
    border-radius: 11px;
    cursor: pointer;
    display: block;
    height: 22px;
    position: relative;
    width: 42px;

    &::before {
      background-color: var(--flipSwitch-unchecked-background);
      border-radius: 100%;
      content: '';
      height: 18px;
      left: 1px;
      position: absolute;
      top: 1px;
      transition: .3s;
      width: 18px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="20.5" viewBox="0 0 20.5 20.5"><path fill="%23ffffff" d="M15.2,13.7l-3.5-3.4,3.4-3.5-1.5-1.5-3.4,3.5-3.5-3.4-1.5,1.5,3.5,3.4-3.4,3.5,1.5,1.5,3.4-3.5,3.5,3.4,1.5-1.5Z"/></svg>');
      background-size: contain;
    }

    &:has(~ input[type="checkbox"]:checked) {
      &::before {
        background-color: var(--flipSwitch-checked-background);
        left: calc(100% - 19px);
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="20.5" viewBox="0 0 20.5 20.5"><path fill="%23ffffff" d="M8.6,15.3l-5-4.8,1.6-1.6,3.4,3.3,6.8-7,1.6,1.6-8.4,8.5Z"/></svg>');
      }
    }

    ~ input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
    }

    ~ .form-label {
      cursor: pointer;
    }
  }

  &.radio_buttons {
    appearance: none;
    border: 2px solid var(--uncheck-color);
    border-radius: 100%;
    cursor: pointer;
    flex-shrink: 0;
    height: 16px;
    margin: 0;
    width: 16px;

    &:checked {
      background-color: var(--check-color);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M12,2.4c-5.3,0-9.6,4.3-9.6,9.6s4.3,9.6,9.6,9.6s9.6-4.3,9.6-9.6S17.3,2.4,12,2.4z M12,18.2c-3.5,0-6.3-2.7-6.3-6.2 S8.6,5.7,12,5.7s6.2,2.9,6.2,6.3S15.5,18.2,12,18.2z' /%3E%3C/svg%3E");
      background-size: contain;
      border: none;
      cursor: default;
    }

    &:not(:checked) {
      ~ .form-label {
        cursor: pointer;
      }
    }

    &:disabled {
      border-color: var(--check-disabled-icon);

      &:checked {
        background-color: var(--check-disabled-text);
      }

      ~ .form-label {
        color: var(--check-disabled-text);
      }
    }
  }
}

.form-control-prepend,
.form-control-append {
  align-items: center;
  border: 1px solid;
  border-color: var(--inputField-border);
  box-sizing: border-box;
  background-color: var(--inputField-background);
  display: flex;
  flex-shrink: 0;
  padding: 6px 8px;
  line-height: normal;

  &:has(.form-control) {
    border: 0;
    padding: 0;

    .form-control {
      &:focus {
        z-index: 1;
      }
    }
  }
}

.form-control-prepend {
  border-right: 0;

  &:has(.form-control) {
    .form-control {
      border-top-left-radius: var(--inputField-borderRadius);
      border-bottom-left-radius: var(--inputField-borderRadius);
      border-right: 0;

      &:focus {
        box-shadow: 1px 0 0 0 var(--inputField-border-focus);
      }
    }
  }
}

.form-control-append {
  border-left: 0;

  &:has(.form-control) {
    .form-control {
      border-top-right-radius: var(--inputField-borderRadius);
      border-bottom-right-radius: var(--inputField-borderRadius);
      border-left: 0;

      &:focus {
        box-shadow: -1px 0 0 0 var(--inputField-border-focus);
      }
    }
  }
}
