.form-fieldset {
  border: none;
  margin: 0;
  padding: 0;

  &.check_boxes,
  &.radio_buttons {
    .form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
  }

  &.check_boxes {
    .form-legend {
      color: #3e3e3e;
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: normal;
    }
  }

  &.radio_buttons {
    .form-legend {
      color: var(--formGroup-label);
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
}
