.form-group {
  display: flex;
  align-items: center;

  & > *:first-child {
    border-top-left-radius: var(--inputField-borderRadius);
    border-bottom-left-radius: var(--inputField-borderRadius);
  }

  & > *:last-child {
    border-top-right-radius: var(--inputField-borderRadius);
    border-bottom-right-radius: var(--inputField-borderRadius);
  }
}
