:root {
  --todo-status-background:    #f9dca7;
  --todo-status-text:          #af740b;
  --todo-status-icon:          #f0a217;
  --active-status-background:  #cde2a5;
  --active-status-text:        #4e6721;
  --active-status-icon:        #8ab43a;
  --danger-status-background:  #eeb3a7;
  --danger-status-text:        #c72626;
  --danger-status-icon:        #e46f6f;
  --outline-status-background: transparent;
  --outline-status-border:     #b3b3b3;
  --outline-status-text:       #808080;
  --outline-status-icon:       #cdcdcd;
}

.status {
  align-items: center;
  border-radius: 3px;
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  padding: 4px 6px;

  &-bubble {
    border-radius: 3px;
    display: inline-flex;
    flex-shrink: 0;
    height: 10px;
    margin-right: 6px;
    width: 10px;

    &-dotted {
      border: 1px dotted currentColor;
    }

    &-outline,
    &-solid {
      border: 1px solid currentColor;
    }
  }

  &-todo {
    background-color: var(--todo-status-background);
    color: var(--todo-status-text);

    .status-bubble-solid {
      background-color: var(--todo-status-icon);
    }
  }

  &-active {
    background-color: var(--active-status-background);
    color: var(--active-status-text);

    .status-bubble-solid {
      background-color: var(--active-status-icon);
    }
  }

  &-danger {
    background-color: var(--danger-status-background);
    color: var(--danger-status-text);

    .status-bubble-solid {
      background-color: var(--danger-status-icon);
    }
  }

  &-outline {
    background-color: var(--outline-status-background);
    border: 1px solid var(--outline-status-border);
    color: var(--outline-status-text);

    .status-bubble-solid {
      background-color: var(--outline-status-icon);
    }
  }
}
