.button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  line-height: 21px;
  padding: 7px 14px;
  position: relative;
  text-decoration: none;
  width: fit-content;
  white-space: nowrap;

  &:disabled {
    color: #c5c5c5;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    cursor: default;
    font-weight: bold;
    line-height: 2em;
    opacity: 0.5;
    padding: 3px 10px;
  }

  &:not(:disabled):not(.button-busy) {
    &.button-primary {
      background-color: #56b0ef;
      color: #ffffff;

      &:hover {
        background-color: #279aeb;
      }
    }

    &.button-secondary {
      background-color: #969696;
      color: #fff;

      &:hover {
        background-color: #7d7d7d;
      }
    }

    &.button-outline {
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      color: #56b0ef;
      font-weight: 700;

      &:hover {
        background-color: #e0e0e0;
      }
    }

    &.button-copilot {
      background-color: #56b0ef;
      color: #ffffff;

      &::before {
        content: "";
        width: 17px;
        background-color: #ffffff;
        mask: url("data:image/svg+xml,%3Csvg data-token-category='icons' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.333 3 3 5.333l10.667 10.667 2.333 -2.333 -10.667 -10.667zm1.6 5.133L4.2 5.333 5.333 4.2l2.8 2.8 -1.2 1.133zM10 4.667c0.133 -0.133 0.333 -0.867 0.533 -1.8 0.867 -0.2 1.667 -0.4 1.8 -0.533 -0.133 -0.133 -0.867 -0.333 -1.8 -0.533 -0.2 -0.933 -0.4 -1.667 -0.533 -1.8 -0.133 0.133 -0.333 0.867 -0.533 1.8 -0.867 0.2 -1.667 0.4 -1.8 0.533 0.133 0.133 0.867 0.333 1.8 0.533 0.2 0.933 0.4 1.667 0.533 1.8zM2.667 8.667c-0.133 0.133 -0.333 0.867 -0.533 1.8 -0.867 0.2 -1.667 0.4 -1.8 0.533 0.133 0.133 0.867 0.333 1.8 0.533 0.2 0.933 0.4 1.667 0.533 1.8 0.133 -0.133 0.333 -0.867 0.533 -1.8 0.867 -0.2 1.667 -0.4 1.8 -0.533 -0.133 -0.133 -0.867 -0.333 -1.8 -0.533 -0.2 -0.867 -0.4 -1.667 -0.533 -1.8zm-0.333 -4.667c0.133 -0.133 0.333 -0.8 0.467 -1.533 0.733 -0.133 1.4 -0.333 1.533 -0.467 -0.133 -0.133 -0.8 -0.333 -1.533 -0.467C2.667 0.8 2.467 0.133 2.333 0c-0.133 0.133 -0.333 0.8 -0.467 1.533 -0.733 0.133 -1.4 0.333 -1.533 0.467 0.133 0.133 0.8 0.333 1.533 0.467 0.133 0.733 0.333 1.4 0.467 1.533zM1.333 7.333c0.067 -0.067 0.133 -0.4 0.267 -0.733 0.4 -0.067 0.733 -0.2 0.733 -0.267 -0.067 -0.067 -0.4 -0.133 -0.733 -0.267 -0.133 -0.333 -0.2 -0.667 -0.267 -0.733 -0.067 0.067 -0.133 0.4 -0.267 0.733 -0.333 0.133 -0.667 0.2 -0.733 0.267 0.067 0.067 0.4 0.133 0.733 0.267 0.133 0.333 0.2 0.667 0.267 0.733z'%3E%3C/path%3E%3C/svg%3E")
          no-repeat center;
        mask-size: contain;
        -webkit-mask: url("data:image/svg+xml,%3Csvg data-token-category='icons' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.333 3 3 5.333l10.667 10.667 2.333 -2.333 -10.667 -10.667zm1.6 5.133L4.2 5.333 5.333 4.2l2.8 2.8 -1.2 1.133zM10 4.667c0.133 -0.133 0.333 -0.867 0.533 -1.8 0.867 -0.2 1.667 -0.4 1.8 -0.533 -0.133 -0.133 -0.867 -0.333 -1.8 -0.533 -0.2 -0.933 -0.4 -1.667 -0.533 -1.8 -0.133 0.133 -0.333 0.867 -0.533 1.8 -0.867 0.2 -1.667 0.4 -1.8 0.533 0.133 0.133 0.867 0.333 1.8 0.533 0.2 0.933 0.4 1.667 0.533 1.8zM2.667 8.667c-0.133 0.133 -0.333 0.867 -0.533 1.8 -0.867 0.2 -1.667 0.4 -1.8 0.533 0.133 0.133 0.867 0.333 1.8 0.533 0.2 0.933 0.4 1.667 0.533 1.8 0.133 -0.133 0.333 -0.867 0.533 -1.8 0.867 -0.2 1.667 -0.4 1.8 -0.533 -0.133 -0.133 -0.867 -0.333 -1.8 -0.533 -0.2 -0.867 -0.4 -1.667 -0.533 -1.8zm-0.333 -4.667c0.133 -0.133 0.333 -0.8 0.467 -1.533 0.733 -0.133 1.4 -0.333 1.533 -0.467 -0.133 -0.133 -0.8 -0.333 -1.533 -0.467C2.667 0.8 2.467 0.133 2.333 0c-0.133 0.133 -0.333 0.8 -0.467 1.533 -0.733 0.133 -1.4 0.333 -1.533 0.467 0.133 0.133 0.8 0.333 1.533 0.467 0.133 0.733 0.333 1.4 0.467 1.533zM1.333 7.333c0.067 -0.067 0.133 -0.4 0.267 -0.733 0.4 -0.067 0.733 -0.2 0.733 -0.267 -0.067 -0.067 -0.4 -0.133 -0.733 -0.267 -0.133 -0.333 -0.2 -0.667 -0.267 -0.733 -0.067 0.067 -0.133 0.4 -0.267 0.733 -0.333 0.133 -0.667 0.2 -0.733 0.267 0.067 0.067 0.4 0.133 0.733 0.267 0.133 0.333 0.2 0.667 0.267 0.733z'%3E%3C/path%3E%3C/svg%3E")
          no-repeat center;
        -webkit-mask-size: contain;
        margin-right: 4px;
      }

      &:hover {
        background-color: #279aeb;
      }
    }
  }

  .button-spinner {
    display: none;
    position: relative;
    height: 14px;
    width: 22px;
    margin-right: 10px;
  }
}
