.card {
  background-color: #ffffff;
  padding: 30px;
  position: relative;
}

.card-headline {
  color: var(--card-headline);
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.5em;
}

.card-sub-headline {
  color: var(--formGroup-label);
  font-size: 13px;
  margin: 0 0 20px;
}
