<div <%= tag.attributes **html_options %>>
  <div class="notification-indicator">
    <%= render BeyondEssence::IconComponent.new(name: icon, class: 'notification-icon') %>
  </div>
  <div class="notification-body">
    <%= content %>
  </div>
</div>
